<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" th:href="@{/resources/images/favicon.ico}" href='../resources/images/favicon.ico'/>
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' th:href="@{/resources/css/bootstrap.min.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Custom styles -->
  <link rel='stylesheet' th:href="@{/resources/css/style.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Cuprum font -->
  <!--<link rel='stylesheet' type='text/css' th:href="@{https://fonts.googleapis.com/css?family=Cuprum}" href='https://fonts.googleapis.com/css?family=Cuprum' />-->
  <title>Edytuj rezerwację</title>
  </head>
  <body onload="//iniatializePage()">
  <!-- NAVBAR -->
  <div th:include="fragments/navbar :: navbar"></div>

    <div class="container">
      <!-- Header -->
      <div class="center-content">
        <h1>Utwórz cennik</h1>
      </div>

      <div class="reservation-form center-align">
          <form method="#" action="addPriceList.html" th:method="POST">
        <div class="form-group">
          <label for="priceListName">Nazwa</label>
          <input type="text" class="form-control" id="priceListName" placeholder="Nazwa" name="priceListName"/>
        </div>
        <div class="form-group">
          <label for="priceListFrom">Od</label>
          <input type="date" class="form-control" id="priceListFrom" name="priceListFrom"/>
        </div>
        <div class="form-group">
          <label for="priceListTo">Do</label>
          <input type="date" class="form-control" id="priceListTo" name="priceListTo"/>
        </div>
        <div class="form-group">
            <label for="event">Wydarzenie:</label>
            <select id="event" name="event">
                <option th:each="event : ${events}" th:text="${event.name}" th:value="${event.eventId}"></option>
            </select>
        </div>
        <div class="price-list-edit-group">
          <div class="form-group">
            <label for="period">Cykl</label>
            <select>

            </select>
            <a href="eventReservations.html" class="btn btn-success right" role="button">Dodaj cykl</a>
          </div>
          <div class="form-group">
            <label for="period">Normalny</label>
            <input type="tel" class="form-control" id="period" placeholder="Normalny"/>
          </div>
          <div class="form-group">
            <label for="period">Ulgowy</label>
            <input type="tel" class="form-control" id="period" placeholder="Ulgowy"/>
          </div>
        </div>

         <a href="priceList.html" class="btn btn-success left" role="button">Anuluj</a>
         <button type="submit" class="btn btn-success right">Zatwierdź</button>
       </form>
     </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Page logic -->
    <script src="../assets/js/general.js"></script>
    <!-- script src="../assets/js/editPriceList.js"></script -->
  </body>
</html>
