<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>Clients</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <h2>Clients</h2>
        <h3><p>Add new clients here!</p></h3>
    <br/>
    <div class="add">
        <form class="form-horizontal col-md-6 col-md-offset-3" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3" for="firstName">First name: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="lastName">Last name: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="address">Address: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="address" placeholder="Enter address"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-9">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-sm-12">
        <br/>
        <h3><p>List of all clients:</p></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Adress</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Jan</td>
                <td>Kowlaki</td>
                <td>domowa 1</td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Kot</td>
                <td>Slaba 5</td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
            <tr>
                <td>Rocky</td>
                <td>Balboa</td>
                <td>Nowy 12/2</td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>