<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" th:href="@{/resources/images/favicon.ico}" href='../resources/images/favicon.ico'/>
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' th:href="@{/resources/css/bootstrap.min.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Custom styles -->
  <link rel='stylesheet' th:href="@{/resources/css/style.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Cuprum font -->
  <!--<link rel='stylesheet' type='text/css' th:href="@{https://fonts.googleapis.com/css?family=Cuprum}" href='https://fonts.googleapis.com/css?family=Cuprum' />-->
  <title>Utwórz rezerwację</title>
</head>
<body onload="initializePage()">

<!-- NAVBAR -->
<div th:include="fragments/navbar :: navbar"></div>

<div class="container">
  <!-- Header -->
  <div class="center-content">
    <h1>Utwórz rezerwację</h1>
  </div>
  <!-- Event description -->

  <table class="table table-striped event-info center-align">
    <tbody>
    <tr>
      <td>Wydarzenie:</td>
      <td th:text="${event.event.name}"></td>
    </tr>
    <tr>
      <td>Data:</td>
      <td th:text="${event.date}"></td>
    </tr>
    <tr>
      <td>Godzina:</td>
      <td th:text="${event.hour}"></td>
    </tr>
    <tr>
      <td>Sala:</td>
      <td th:text="${event.room.number}"></td>
    </tr>
    <tr>
      <td>Budynek:</td>
      <td th:text="${event.room.building.address}"></td>
    </tr>
    </tbody>
  </table>
  <!-- Reservation form -->

  <div class="reservation-form center-align">
    <form action="#" th:action="@{'/addReservation'}" th:object="${reservation}" method="post">
      <!--<div>-->
      <!--<input type="hidden" class="form-control" th:field="*{date}"/>-->
      <!--</div>-->
      <!--<div>-->
        <!--<input type="hidden" class="form-control" th:field="*{e}"/>-->
      <!--</div>-->
      <!--<div>-->
        <!--<input type="hidden" class="form-control" th:field="*{user}"/>-->
      <!--</div>-->
      <!--<div>-->
        <!--<input type="hidden" class="form-control" th:field="*{eventRealizationId}"/>-->
      <!--</div>-->

      <div >
        <input type="hidden" class="form-control" th:field="*{reservationId}"/>
        <input type="hidden" th:each="seat : ${seats}" name="seats" th:value="${seat}" />
        <input type="hidden" name="realizationId" th:value="${realizationId}"/>
      </div>

      <!--<div>-->
        <!--<input type="hidden" class="form-control" th:field="*{eventRealizationId}"/>-->
      <!--</div>-->
      <div class="form-group">
        <label for="clientName">Imię</label>
        <input type="text" class="form-control" id="clientName" placeholder="Imię" th:field="*{name}"/>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" placeholder="Nazwisko" th:field="*{surname}"/>
      </div>
      <div class="form-group">
        <label for="clientEmail">Email</label>
        <input type="email" class="form-control" id="clientEmail" placeholder="Email" th:field="*{email}"/>
      </div>
      <div class="form-group">
        <label for="clientPhone">Telefon</label>
        <input type="tel" class="form-control" id="clientPhone" placeholder="Telefon" th:field="*{phone}"/>
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
          <tr>
            <th>Sektor </th>
            <th>Miejsce </th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="place : ${placesList}">
            <td th:text="${place.sector.number}"></td>
            <td th:text="${place.number}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <a th:href="@{'/eventRealizations'}" class="btn btn-success left" role="button">Anuluj</a>
      <button type="submit" class="btn btn-success right">Zatwierdź</button>

    </form>
  </div>

</div><!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

<script type="text/javascript" th:src="@{../resources/js/bootstrap.min.js}"
        src="../resources/js/bootstrap.min.js"></script>
<!-- Page logic -->
<script th:src="@{../resources/js/general.js}" src="../resources/js/general.js"></script>
<script th:src="@{../resources/js/eventRealizations.js}" src="../resources/js/eventRealizations.js"></script>
</body>
</html>
