<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" th:href="@{/resources/images/favicon.ico}" href='../resources/images/favicon.ico'/>
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' th:href="@{/resources/css/bootstrap.min.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Custom styles -->
  <link rel='stylesheet' th:href="@{/resources/css/style.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Cuprum font -->
  <!--<link rel='stylesheet' type='text/css' th:href="@{https://fonts.googleapis.com/css?family=Cuprum}" href='https://fonts.googleapis.com/css?family=Cuprum' />-->
  <title>Edytuj cennik</title>
  </head>
  <body onload="//iniatializePage()">
  <!-- NAVBAR -->
  <div th:include="fragments/navbar :: navbar"></div>


    <div class="container">
      <!-- Header -->
        <div class="center-content">
            <h1>Utwórz/Edytuj cykl</h1>
        </div>

      <div class="reservation-form center-align">
       <form method="#" action="editPeriod.html" th:method="post">
        <!-- <div>
             <input type="hidden" class="form-control" th:field="*{priceListId}"/>
         </div>
           <div>
               <input type="hidden" name="priceListId" th:value="${priceList.priceListId}"/>
           </div>-->
           <div class="form-group">
           <label for="periodName">Nazwa</label>
           <input type="text" class="form-control" id="periodName" name="periodName" placeholder="Nazwa" th:value="${period.name}"/>
         </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek1">Poniedziałek
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek2">Wtorek
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek3">Środa
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek4">Czwartek
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek5">Piątek
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek6">Sobota
           </div>
           <div class="form-group">
               <input type="checkbox" class="" id="dayOfWeek7">Niedziela
           </div>

	 <div class="price-list-edit-group">
         <div class="form-group">
           <label for="clientPhone">Cykl</label>
	   <select>

	   </select>
           <a href="eventReservations.html" class="btn btn-success right" role="button">Dodaj cykl</a>
         </div>
         <div class="form-group">
           <label for="clientPhone">Normalny</label>
           <input type="tel" class="form-control" id="clientPhone" placeholder="Normalny"/>
         </div>
         <div class="form-group">
           <label for="clientPhone">Ulgowy</label>
           <input type="tel" class="form-control" id="clientPhone" placeholder="Ulgowy"/>
         </div>
	 </div>
         <input type="hidden" class="form-control" id="priceListId"  name="priceListId" th:value="${priceList.priceListId}"/>
         <a href="priceList.html" class="btn btn-success left" role="button">Anuluj</a>
         <button type="submit" class="btn btn-success right">Zatwierdź</button>
       </form>
     </div>
    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"></script>')</script>-->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Page logic -->
    <script src="../assets/js/general.js"></script>
    <!-- script src="../assets/js/editPriceList.js"></script -->
  </body>
</html>
