<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" th:href="@{/resources/images/favicon.ico}" href='../resources/images/favicon.ico'/>
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' th:href="@{/resources/css/bootstrap.min.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Custom styles -->
  <link rel='stylesheet' th:href="@{/resources/css/style.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Cuprum font -->
  <!--<link rel='stylesheet' type='text/css' th:href="@{https://fonts.googleapis.com/css?family=Cuprum}" href='https://fonts.googleapis.com/css?family=Cuprum' />-->
  <title>Rezerwacje</title>
  </head>
  <body onload="initializePage()">

  <!-- NAVBAR -->
  <div th:include="fragments/navbar :: navbar"></div>

    <div class="container">
      <!-- Header -->
      <div class="center-content">
        <h1>Rezerwacje</h1>
      </div>
      <!-- Event description -->
      <table class="table table-striped event-info center-align">
        <tbody>
          <tr>
            <td>Wydarzenie :</td>
            <td id="eventName"></td>
          </tr>
          <tr>
            <td>Data :</td>
            <td id="eventDate"></td>
          </tr>
          <tr>
            <td>Godzina:</td>
            <td id="eventHour"></td>
          </tr>
          <tr>
            <td>Sala:</td>
            <td id="eventRoom"></td>
          </tr>
          <tr>
            <td>Budynek:</td>
            <td id="eventBuilding"></td>
          </tr>
        </tbody>
      </table>
      <!-- Reservations table -->
      <table class="table table-striped large-table center-align">
        <thead>
          <tr>
            <th>Imię Nazwisko</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Data utworzenia</th>
            <th>Data odwołania</th>
            <th>Sektor</th>
            <th>Miejsca</th>
            <th>Akcja</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="eventReservation : ${eventReservationList}">
          <td th:text="${eventReservation.name}"></td>
          <td th:text="${eventReservation.email}"></td>
          <td th:text="${eventReservation.phone}"></td>
          <td th:text="${eventReservation.date}"></td>
          <td th:text="${eventReservation.revokeDate}"></td>
          <p th:each="place : ${eventReservation.places}">
            <td th:text="${place.sector.number}"></td>
            <td th:text="${place.number}"></td>
          </p>
          <td > <a th:href="@{'/tickets'}"><span class="glyphicon glyphicon-ok"></span></a>
          <!--Nie umiem znalezc siedzenia wiec jest byle co:-->
          <a th:href="@{'/eventReservations'}"><span class="glyphicon glyphicon-remove"></span> </a>
            <a th:href="@{'/editReservation'(reservationId=${eventReservation.reservationId})}"><span class="glyphicon glyphicon-edit"></span> </a></td>
        </tr>

        </tbody>
      </table>
    </div><!-- /.container -->
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"
          src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

  <script type="text/javascript" th:src="@{../resources/js/bootstrap.min.js}"
          src="../resources/js/bootstrap.min.js"></script>
  <!-- Page logic -->
  <script th:src="@{../resources/js/general.js}" src="../resources/js/general.js"></script>
  <script th:src="@{../resources/js/eventRealizations.js}" src="../resources/js/eventRealizations.js"></script>
  </body>
</html>
