<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>TEST</title>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <!-- NAVBAR -->
    <div th:include="fragments/navbar :: navbar"></div>

    <div><br/><br/>
        <h2>Witaj!</h2>
        Jestes w trybie kasjera.<br/><br/>
        Toje możliwości to:<br/>
        <ul>
            <li>Dodanie nowego klienta do wydarzenia, wybór ilości i położenia miejsc</li>
            <li>Podgląd, edycję i kasowanie danej rezerwacji danego klienta</li>
            <li>KSprzedanie biletów - podstawowych, ulogwych i seniorskich</li>
        </ul>


        <br/>
    </div>
</div>
</body>
</html>