<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>Witaj!</title>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <!-- NAVBAR -->
    <div th:include="fragments/navbar :: navbar"></div>

    <div><br/><br/>

        <h2>Witaj!</h2>
        Posiadasz uprawnienia:
        <b>
            <span sec:authorize="hasRole('ROLE_CASHIER')">kasjera</span><span sec:authorize="(hasRole('ROLE_CASHIER') and hasRole('ROLE_STAFF')) or (hasRole('ROLE_CASHIER') and hasRole('ROLE_ADMIN'))">, </span><span sec:authorize="hasRole('ROLE_STAFF')">pracownika uzupełniającego dane</span><span sec:authorize="(hasRole('ROLE_STAFF') and hasRole('ROLE_ADMIN')) or (hasRole('ROLE_CASHIER') and hasRole('ROLE_ADMIN'))">, </span><span sec:authorize="hasRole('ROLE_ADMIN')">administratora</span>.
        </b>
        <span sec:authorize="(hasRole('ROLE_CASHIER') and hasRole('ROLE_STAFF') and hasRole('ROLE_ADMIN'))"><br/>Masz więc wszystkie możliwe uprawnienia.</span>
        <hr/>


        <div sec:authorize="hasRole('ROLE_CASHIER')">
            Twoje możliwości jako kasjer to:<br/>
            <ul>
                <li>Przeglądanie realizacji wydarzeń</li>
                <li>Przeglądanie rezerwacji</li>
                <li>Tworzenie i edycja rezerwacji</li>
                <li>Sprzedaż biletów</li>
            </ul>
            <hr/>
        </div>
        <div sec:authorize="hasRole('ROLE_STAFF')">
            Twoje możliwości jako pracownik uzupełniający dane to:<br/>
            <ul>
                <li>Przeglądanie wydarzeń/cenników/cykli</li>
                <li>Przeglądanie</li>
                <li>Tworzenie i edycja wydarzeń oraz cenników</li>
            </ul>
            <hr/>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            Twoje konto ma uprawnienia administratora.<br/>
            Możesz więc zalogować się do systemu z osobnej aplikacji administratora.
            <hr/>
        </div>

        Aby przeglądać wydarzenia, kliknij <a th:href="@{'/eventRealizations'}">Wydarzenia</a> na nawigacji.<br/>
        Aby przeglądać rezerwacje dla danego wydarzenia, kliknij ikonę <span class="glyphicon glyphicon-calendar"></span> przy wybranym wydarzeniu.<br/>
        Aby dodać nową rezerwację lub sprzedać bilet, kliknij ikonę <span class="glyphicon glyphicon-plus-sign"></span> przy wybranym wydarzeniu.<br/>
        <br/>
        Po kliknięciu <span class="glyphicon glyphicon-plus-sign"></span>, pojawi się ekran wyboru miejsc. Miejsca zaznaczone na czerwono, są już niedostępne. Miejsca wybiera się klikając na wybrane miejsce, jego kolor zmieni się na zielony. Ponowne kliknięcie na wybrane miejsce spowoduje jego odznaczenie. Aktualnie wybrane mijsca są również wypisane na dole strony.<br/>
        <br/>
        Gdy miejsca są już wybrane istnieją dwie możliwości - utworzenie rezerwacji na wybrane miejsca, lub sprzedaż biletu, bez rezerwacji. <br/>
        Aby utworzyć rezerwację na wybrane miejsca, kliknij przycisk "Rezerwacja".<br/>
        Aby dokonać sprzedaży biletów, kliknij przycisk "bilety".<br/>
        <br/>
        Po wybraniu <span class="glyphicon glyphicon-calendar"></span> w tabeli z realizacjami wydarzeń, nastąpi przejście do tabeli z rezerwacjami dla danego wydarzenia.<br/>
        Obok każdej rezerwacji znajdują się 3 ikony.<br/>
        Kliknij <span class="glyphicon glyphicon-ok"></span> aby sprzedać zarezerwowane bilety.<br/>
        Kliknij <span class="glyphicon glyphicon-remove"></span> aby usunąć daną rezerwację.<br/>
        Kliknij <span class="glyphicon glyphicon-edit"></span> aby dokonać edycji danych do rezerwacji.<br/>
        <br/>
        Ekran sprzedaży biletów, prezentuje każdy bilet w formie tabeli, dla każdego biletu należy wybrać cenę.<br/>
        Po wybraniu cen, sprzedaży dokonujemy klikając przycisk "Zatwierdź".

    </div>
</div>
</body>
</html>