<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>Invoices</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div th:include="fragments/navbar :: navbar"></div>

    <h2>Invoices</h2>
    <h3><p>Create new invoices here!</p></h3>
    <br/>
    <div class="add">
        <form class="form-horizontal col-md-6 col-md-offset-3" role="form">

            <div class="form-group">
                <label class="control-label col-sm-3" for="date">Date: </label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" id="date" placeholder="Enter date"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="client">Client: </label>
                <div class="col-sm-5">
                    <select class="form-control" id="client" >
                        <option>client 1</option>
                        <option>client 2</option>
                        <option>client 3</option>
                        <option>client 4</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="product">Product: <br /> (hold shift to select more than one)
                </label>
                <div class="col-sm-5">
                    <select class="form-control" id="product" multiple="multiple">
                        <option>product 1</option>
                        <option>product 2</option>
                        <option>product 3</option>
                        <option>product 4</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="price">Price: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="price" th:value="100" th:disabled="1"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-9">
                    <button type="submit" class="btn btn-primary">Create invoice</button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-sm-12">
        <br/>
        <h3><p>List of all invoices:</p></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Client</th>
                <th>Product</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>02/02/2002</td>
                <td>Kowlaski</td>
                <td>Deodorant Old Spice, Axe</td>
                <td>26,50</td>
                <td>
                    <span class="glyphicon glyphicon-remove"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>