<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="icon" th:href="@{/resources/images/favicon.ico}" href='../resources/images/favicon.ico'/>
  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' th:href="@{/resources/css/bootstrap.min.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Custom styles -->
  <link rel='stylesheet' th:href="@{/resources/css/style.css}" href='../resources/css/bootstrap.min.css'/>
  <!-- Cuprum font -->
  <!--<link rel='stylesheet' type='text/css' th:href="@{https://fonts.googleapis.com/css?family=Cuprum}" href='https://fonts.googleapis.com/css?family=Cuprum' />-->
  <title>Miejsca</title>
</head>
<body onload="initializePage()">

<!-- NAVBAR -->
<div th:include="fragments/navbar :: navbar"></div>

<div class="container">
  <div class="center-content">
    <h1>Wybór miejsc</h1>
  </div>
  <div>
    <!-- Event description -->
    <table class="table table-striped event-info center-align">
      <tbody>
      <tr>
        <td>Wydarzenie:</td>
        <td th:text="${event.event.name}"></td>
      </tr>
      <tr>
        <td>Data:</td>
        <td th:text="${event.date}"></td>
      </tr>
      <tr>
        <td>Godzina:</td>
        <td th:text="${event.hour}"></td>
      </tr>
      <tr>
        <td>Sala:</td>
        <td th:text="${event.room.number}"></td>
      </tr>
      <tr>
        <td>Budynek:</td>
        <td th:text="${event.room.building.address}"></td>
      </tr>
      </tbody>
    </table>
    <!-- Legend -->
    <table class="legend center-align">
      <tr>
        <td class="rect selected"></td>
        <td class="desc">Wybrane</td>
        <td class="rect occupied"></td>
        <td class="desc">Zajęte</td>
        <td class="rect with-border unoccupied"></td>
        <td class="desc">Wolne</td>
      </tr>
    </table>
    <!-- Sectors visualisation with seats selecting -->
    <div id="sectors">
    </div>
    <!-- Choosen seats section -->
    <div class="center-content">
      <h2>Wybrane miejsca</h2>
      <div id="selected-seats" class="center-align">
      </div>
      <div class="button-section center-align">
        <a th:href="@{'/tickets'(realizationId=${eventReservation.eventRealizationId})}" class="btn btn-success left" role="button">Bilet</a>
        <a th:href="@{'/createReservation'(realizationId=${event.eventRealizationId})}" class="btn btn-success right" role="button">Rezerwacja</a>

      </div>
    </div>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

<script type="text/javascript" th:src="@{../resources/js/bootstrap.min.js}"
        src="../resources/js/bootstrap.min.js"></script>
<!-- Page logic -->
<script th:src="@{../resources/js/general.js}" src="../resources/js/general.js"></script>
<script th:src="@{../resources/js/eventRealizations.js}" src="../resources/js/eventRealizations.js"></script>
</body>
</html>
