/*GENERAL*/

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  padding-top: 50px;
}

.center-content {
  padding: 40px 15px;
  text-align: center;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  min-width: 80px;
}
h1 {
  font-family: 'Cuprum', sans-serif;
  font-size: 60px;
}

h2 {
  font-family: 'Cuprum', sans-serif;
  font-size: 40px;
}

.action-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #92d36e;
}

.large-table {
  margin-top: 100px;
  padding-bottom: 150px;
}

.event-info {
  width: 360px;
  margin-top: 100px;
}

.legend {
  width: 360px;
  margin-top: 100px;
}

.rect {
  width: 40px;
  height: 50px;
}

.selected {
  background-color: #92d36e;
}

.occupied {
  background-color: #ff5d55;
  cursor: default !important;
}

.unoccupied {
  background-color: #ffffff;
}

.with-border {
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

.desc {
  width: 80px;
  height: 50px;
  padding-left: 10px;
}

.select-seats {
  margin-bottom: : 50px;
}

.seat {
  width: 50px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #666;
  cursor: pointer;
  /*make text inside cell unselectable*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.sector {
  margin-bottom: 50px;
}

.button-section {
  width: 360px;
  margin-top: 40px;
  padding-bottom: 100px;
}
