<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Logowanie</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- Cuprum font -->
    <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>

  </head>

  <body class="login">

    <div class="container">

      <div class="center-content">
        <h1 class="login-header">Teatr</h1>
      </div>

      <div class="reservation-form center-align">
       <form method="#" action="#">
         <div class="form-group">
           <label for="login">Nazwa użytkownika</label>
           <input type="text" class="form-control" id="login" placeholder="Nazwa użytkownika">
         </div>
         <div class="form-group">
           <label for="password">Hasło</label>
           <input type="password" class="form-control" id="password" placeholder="Hasło">
         </div>
         <button type="submit" class="btn btn-success login-button">Zatwierdź</button>
       </form>
     </div>

    </div><!-- /.container -->
    <!-- Page logic -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
