<html>
<body>
<link href="../assets/css/style.css" rel="stylesheet">

<table>

<tbody>

<tr>

  <td id="1" onclick="heh('1')" class="seat">a</td>
  <td id="2" class="seat" onclick="heh('2')">a</td>
  <td id="3"  class="seat" onclick="heh('3')">a</td>
<td id="4"  class="seat" onclick="heh('4')">a</td>

</tr>
<tr>

  <td class="seat">a</td>
  <td class="seat">a</td>
  <td class="seat">a</td>
<td class="seat">a</td>

</tr>

</tbody>

</table>

<script>

function heh(id) {
  var td = document.getElementById(id);
  td.className += " occupied";
}

</script>

</body>
</html>
